*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --color-background: rgb(197, 201, 208);
    --color-primario: rgb(20, 58, 134);
}

#root{
    background-color: rgba(237, 239, 242, 1);
    width: 100vw;
}


.divDelHeader{
    background-color: var(--color-background);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 64px;
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid rgb(169, 169, 169);

}

#logoTech{
    width: 40px;
    height: 40px;
}

#NombreMarca{
    display: flex;
    align-items: center;
    font-size: 2.5rem;
}


.divDelHeader h2{
    color: var(--color-primario);
}
.divDelHeader input{
    border-radius: 8px;
    border: 1px solid gray;
    width: 26%;
    height: 36px;
    padding: 3px;
    padding-left: 1.5%;
    font-size: 1.35rem;
    color: var(--color-primario);
}

.NavLiksToHide{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
}

#NavCatalogo{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 550;
    color: var(--color-primario);
} 

#NavContacto{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 550;
    color: var(--color-primario);
}
#NavCarrito{
    font-size: 2.2rem;
    font-weight: 300;
    color: var(--color-primario);
    padding-right: 5px;
    display: flex;
    text-decoration: none;
}
.IoCartOutline{
    font-size: 2.5rem;
    display: flex;
    gap: 10px;
    font-weight: bold;
    color: var(--color-primario)
}
.carritoNumero{
    font-size: 2rem;
    position: relative;
    bottom: 5px;
}
.MenuDesplegableHamburguesa{
    display: flex;
}

.MenuDesplegableHamburguesa button{
    display: none;
    background-color: transparent;
    border-radius: 10px;
    padding: 3px;
}
.AiOutlineMenu{
    display: flex;
    align-self: center;
    counter-reset: var(--color-primario);
    height: 31px;
    width: 31px;
}
.AiFillHome{
    font-size: 2rem;
    color: var(--color-primario);
    display: none;
}


.segundoHeader{
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    right: 1%;
    padding: 0.5% 2%;
}

.tituloPrincipal{
    font-size: 2.4rem;
    color: var(--color-primario);
}


.NavBarVertical{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 8px;
    padding-top: 10px;
    z-index: 4;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    background-color: transparent; 
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 3; 
}

.NavBarVertical.ClaseShow {
    transform: scaleY(1);
}


/* -------------carrito------------- */
.contenedorPaginaCarrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    padding-top: 8%;
}
.contenedorPaginaCarrito h2{
    color: var(--color-primario);
    font-size: 1.8rem;
}
.contenedorPaginaCarrito .totalCart{
    color: var(--color-primario);
    font-size: 1.8rem;
}

.contenedorPaginaCarrito .totalCart{
    height: 40px;
    font-size: 1.7rem;
}
.paginaCarrito{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 1.5%;

}
.btnComprarFinal{
    width: 13rem;
    height: 3rem;
    border-radius: 10px;
    font-size: 1.6rem;
    border-radius: 0.9rem;
    border: transparent ;
    box-shadow: 1px 1px 1px 1px lightgray;
    color: var(--color-primario);
    font-weight: 500;
    font-weight: 550;
}

.btnComprarFinal:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.475s ease;
    box-shadow: 2px 2px 1px 2px lightgray;
    background-color: var(--color-primario);
    color: white;

}
.tarjetasCarrito{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 18px;
    box-shadow: 3px 3px 2px 1px lightgray;
    width: 320px;
    padding: 2%;
    color: var(--color-primario);
    font-size: 1.2rem;
    gap: 10px;
}
.tarjetasCarrito:hover{
    transform: scale(1.02);
    transition: 0.475s ease;
    box-shadow: 4px 4px 3px 2px lightgray;
}

.tarjetasCarritoo .contenedorImagenCards{
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
}


.tarjetasCarrito img{
    width: 125px;
}
.tarjetasCarrito h2{
    font-size: 1.2rem;
}
.tarjetasCarrito h3{
    font-size: 0.9rem;
}
.tarjetasCarrito .spanPrecio{
    font-weight: 550;
}

.tarjetasCarrito .tarjetasVerDetalle{
    text-decoration: none;
    color: var(--color-primario);
}


/* --------formulario-------- */
.contenedorDeContenedorFormulario{
    min-height: 100vh;
    margin-top: 15%;
}

.contendedorFormulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    width: 50%;
    border: 1px solid rgb(148, 147, 147);
    border-radius: 14px;
    margin: auto;
    margin-top: 2%;
    padding: 1% ;
    box-shadow: 1px 1px 2px 2px lightgrey;
    background-color: var(--color-background);  
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    max-width: 600px;
    width: 95%;
    margin: auto;
    margin-top: 2%;
    padding-left: 5% ;
    font-size: 1.05rem;
}
.formulario input{
    border-radius: 4px;
    border: 1px solid gray;
    width: 90%;
    min-width: 200px;
}
.formulario label{
    width: 100%;
    font-weight: bold;
}
.formulario input:hover{
    cursor: pointer;
}

.formulario h2{
    color: var(--color-primario);

}

.checkboxDerecha{
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
}

.checkboxDerecha label{
    width: 95%;
}

.checkboxDerecha input{
    width: 20%;
    min-width: 80px;
    height: 30px;
    position: relative;
    left: 25px;
}

#message{
    width: 90%;
    min-width: 200px;
    height: 120px;
    border-radius: 4px;
    border: 1px solid gray;
}
#message:hover{
    cursor: pointer;
}

#formSubmit{
    font-size: 1.1rem;
    width: 130px;
    min-width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 1px 1px 1px 1px lightgrey;
    margin: auto;

}
#formSubmit:hover{
    transform: scale(1.03);
    transition: 0.275s ease;
    box-shadow: 2px 2px 1px 2px lightgrey;
    background-color: var(--color-primario);
    color: white;
}



/* ------------------Home----------------- */


.componentesDelHome{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5% 1.5%;
}

.productosDelHome{
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 1% 0%;
}
.separadorHome{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    color:  var(--color-primario);
    font-size: 1.2rem;
    padding-left: 1%;
}
.separadorHome h1{
    font-size: 2.4rem;
}

.separadorHome h3:hover{
    cursor: pointer;
}
#toggleFiltradores{
    padding-left: 1%;
}

.sidebar{
    width: 24.5%;
    height: 900px;
    margin-top: 10%;
}




/*-------------- filters ------------- */
#toggleFiltradores{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.BiSolidDownArrow{
    color: var(--color-primario);
    font-size: 1.8em;
}

.contenedorFiltros{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filters{
    height: auto;
    border: 1px solid rgb(130, 130, 130);
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 550;
    color: var(--color-primario);
    background-color: var(--color-background);
    padding: 1.5%;
    box-shadow: 1px 1px 2px 2px lightgray;
}
.filters .barrita{
    background-color: var(--color-primario);
    width: 95%;
}

.filters input:hover{
    cursor: pointer;
}

/* ---------------Tarjetas------------------- */

.padreTarjetas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
    gap: 20px;
    width: 75%;
}

.tarjetasProducto{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid gray;
    background-color: white;
    border-radius: 18px;
    box-shadow: 3px 3px 2px 1px lightgray;
    height: 320px;
    width: 300px;
    padding: 2%;
    color: var(--color-primario);
    font-size: 1.2rem;
    gap: 10px;
}

.tarjetasProducto:hover{
    transform: scale(1.02);
    transition: 0.475s ease;
    box-shadow: 4px 4px 3px 2px lightgray;
}

.tarjetasProducto .contenedorImagenCards{
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
}

.tarjetasProducto img{
    width: 180px;
}
.tarjetasProducto h2{
    font-size: 1.2rem;
}
.tarjetasProducto h3{
    font-size: 0.9rem;
}

.tarjetasProducto .tarjetasVerDetalle{
    text-decoration: none;
    color: var(--color-primario);
}

/* -----------detaill Productos--------- */
.descripcionProducto{
    white-space: pre-wrap;
    padding-bottom: 3%;
}
.contenedorProductDetail{
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    gap: 25px;
}

.contenedorDeContenedores{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    width: 80%;
    height: 420px;
}
.contenedorDivs{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 5%;
    margin: auto;
    box-shadow: 3px 3px 2px 1px lightgray;
    padding: 1.5%;

}
.divNombreProductos{
    display: flex;
    padding: 0 2%;
}
.contenedorDivs:hover{
    transform: scale(1.02);
    transition: 0.475s ease;
    box-shadow: 4px 4px 3px 2px lightgray;
}
.detailProductsCompleto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 34px;
    align-items: center;
    background-color: white;
}

.detailProdImagen{
    border-radius: 3%;
    padding: 2% 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.detailProdH2{
    font-size: 1.6rem;
    color: var(--color-primario);
}

.contenedorFoto{
    height: 14rem;
    width: 14rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 1px 1px lightgrey;
    padding: 5px;
}

.detailProdH3{
    font-size: 1.8rem;
    color:rgb(56, 74, 110);
}

.detailProdResto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    height: 16rem;
    width: 16rem;
    padding: 2% 0%;
}

.detailProdResto p{
    font-size: 1.3rem;
    width: inherit;
    color: var(--color-primario);
    font-weight: 550;
}
.detailProdResto span{
    font-size: 1.3rem;
    width: inherit;
    color: var(--color-primario);
    font-weight: 550;}

.botonesCarrito{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.btnCompra{
    width: 4rem;
    height: 1.9rem;
    font-size: 2rem;
    text-align: center;
    border-radius: 0.9rem;
    border: transparent ;
    box-shadow: 1px 1px 1px 1px lightgray;
    color: var(--color-primario);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnCompra:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.475s ease;
    box-shadow: 2px 2px 1px 2px lightgray;
    background-color: var(--color-primario);
    color: white;
}

.btnCompraPrevio{
    width: 12rem;
    height: 2.2rem;
    border-radius: 0.9rem;
    font-size: 1.3rem;
    border-radius: 0.9rem;
    border: transparent ;
    box-shadow: 1px 1px 1px 1px lightgray;
    color: var(--color-primario);
    font-weight: 500;
    font-weight: bold;
}

.btnCompraPrevio:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.475s ease;
    box-shadow: 2px 2px 1px 2px lightgray;
    background-color: var(--color-primario);
    color: white;
}

.divDescripcionProducto{
    display: flex;
    width: 80%;
}
/* ------------footer---------- */

footer{
    height: 100%;
    min-height: 100px;
    color: var(--color-primario);
    background-color: var(--color-background);
    padding: 5px 10px;
    font-size: 0.8rem;
}

footer .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tituloInfos{
    font-size: 1.2rem;
    font-weight: bold;
}

footer .linksFooter{
    display: flex;
    flex-direction: column;    
}

footer .linksFooter ul{
list-style-type: none;
}
footer .linksFooter ul a{
    text-decoration: none;

}
.linksFooter a{
    color: var(--color-primario);
}

footer .redesSociales{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 1px;
}
footer .redesSociales a{
    text-decoration: none;
    color: var(--color-primario);
}

.FinalDelFooter{
    font-weight: bold;
}

.logoInstagram{
    background: radial-gradient(
        circle at 33% 100%,
        #FED373 7%,
        #F15245 30%,
        #D92E7F 62%,
        #9B36B7 85%,
        #515ECF);
        border-radius: 30%;
}
.logoTwitter{
    color: #00ACEE;
}
.logoFacebook{
    color: #3B5998;
}

/* -----------clase especial --------- */
.claseHide{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.475s ease; 
}
.claseShow{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.475s ease; 
}


/* ----------Medias Querys------------ */

@media (max-width: 1350px) {
    
    html{
        font-size: 15px;
    }
    .NavLiksToHide{
        gap: 2.5rem;
    }
    .tarjetasProducto{
        height: 270px;
        width: 235px;

    }
    .tarjetasProducto .contenedorImagenCards{
        justify-content: center;
        align-items: center;
        width: 125px;
        height: 125px;
    }
    .contenedorImagenCards .imagenCards{
        width: 125px;
    }
    .divNombreProductos{
        height: 25px;
    }

    .detailProductsCompleto .detailProdImagen{
        width: 240px;
        height: 240px;
    }

    .detailProdResto{
        width: 260px;
    }
    
}

@media (max-width: 1024px) {
    html{
        font-size: 14px;
    }
    .contenedorDeContenedores{
        height: 100%;
    }
    .NavLiksToHide{
        gap: 2rem;
    }
    #logoTech {
        width: 35px;
        height: 35px;
    }
    #Nombremarca{
        font-size: 2.3rem;
    }
    .contenedorDivs{
        width: 385px;
        height: 520px;
    }
    .divNombreProductos{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .detailProductsCompleto{
        flex-direction: column;
        align-items: center;
        padding: 0px 10px;
        gap: 5px
    }
    .detailProdImagen{
        width: 180px;
    }
    .detailProdImagen .contenedorFoto{
        width: 240px;
        height: 240px;
    }
    .detailProdResto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 285px;
    }
    .filters{
        width: 100%;
    }
    .contenedorImagenCards img{
        width: 125px;
    }

    .tarjetasProducto img{
        width: 125px;
    }
    .tarjetasProducto .contenedorImagenCards{
        justify-content: center;
        align-items: center;
        width: 125px;
        height: 125px;
    }
}





@media (max-width: 850px) {
    html{
        font-size: 13px;
    }
    .spanNavCatalogo{
        display: none;
    }
    .AiFillHome{
        display: flex;
    }
    .contenedorImagenCards img{
        width: 125px;
    }
    .tarjetasProducto{
        height: 260px;
        width: 235px;

    }
    .tarjetasProducto .contenedorImagenCards{
        justify-content: center;
        align-items: center;
        width: 125px;
        height: 125px;
    }
    .componentesDelHome{
        margin-top: 5%;
    }
    .NavLiksToHide{
        display: none;
    }
    .MenuDesplegableHamburguesa button{
        display: flex;
    }
    #NavContacto{
        font-size: 2.3rem;
    }
    .contendedorFormulario{
        width: 400px;
    }
    
}
@media (min-width: 850px) {
    .NavBarVertical{
        display: none;
    }

} 


@media (max-width: 700px) {
    .contenedorImagenCards img{
        width: 115px;
    }
    .componentesDelHome{
        margin-top: 7%;
    }
    .tarjetasProducto{
        height: 250px;
        width: 210px;

    }
    .filters{
        font-size: 1.15rem;
    }

} 


@media (max-width: 580px) {
    .contenedorImagenCards img{
        width: 105px;
    }
    .componentesDelHome{
        margin-top: 10%;
    }
    .tarjetasProducto{
        height: 220px;
        width: 170px;
        gap: 5px;

    }
    
    .tarjetasProducto .contenedorImagenCards{
        justify-content: center;
        align-items: center;
        width: 125px;
        height: 125px;
    }
    .contendedorFormulario{
        width: 350px;
    }
    .formulario input{
        min-width: 100px;
    }
    .contenedorImagenCards img{
        width: 112px;
    }

}





@media (max-width: 510px) {
    html{
        font-size: 12px;
    }
    #NombreMarca{
        display: none;
    }
    .contenedorImagenCards img{
        width: 110px;
    }
    .tarjetasProducto{
        height: 250px;
        width: 225px;
        gap: 10px;
    }
    .tarjetasProducto .contenedorImagenCards{
        justify-content: center;
        align-items: center;
        width: 110px;
        height: 110px;
    }

}
