*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    /* --color-background: rgba(195, 202, 217, 1); */
    --color-background: rgb(197, 201, 208);
    --color-primario: rgb(20, 58, 134);
}

#root{
    background-color: rgba(237, 239, 242, 1);
    width: 100vw;
}

Header{
    background-color: var(--color-background);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 64px;
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid rgb(169, 169, 169);

}

#logoTech{
    width: 40px;
    height: 40px;
}

#NombreMarca{
    display: flex;
    align-items: center;
    font-size: 2.5rem;
}


Header h2{
    color: var(--color-primario);
}
Header input{
    border-radius: 8px;
    border: 1px solid gray;
    width: 30%;
    height: 33px;
    padding: 3px;
}

#NavCatalogo{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 550;
    color: var(--color-primario);
} 
.AiFillHome{
    font-size: 2.2rem;
    color: rebeccapurple;
    background-color: aqua;
}
#NavContacto{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 550;
    color: var(--color-primario);
}
#NavCarrito{
    font-size: 2.2rem;
    font-weight: 300;
    color: var(--color-primario);
    padding-right: 5px;
}
.IoCartOutline{
    width: 2.2rem;
    color: red;
}

/* -------------carrito------------- */
.contenedorPaginaCarrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    background-color: pink;
}

.contenedorPaginaCarrito .totalCart{
    height: 40px;
    font-size: 1.7rem;
}
.paginaCarrito{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 1.5%;
}
.btnComprarFinal{
    width: 13rem;
    height: 3rem;
    border-radius: 10px;
    font-size: 1.6rem;
    border-radius: 0.9rem;
    border: transparent ;
    box-shadow: 1px 1px 1px 1px lightgray;
    color: var(--color-primario);
    font-weight: 500;
    font-weight: 550;
}

.btnComprarFinal:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.475s ease;
    box-shadow: 2px 2px 1px 2px lightgray;

}
.tarjetasCarrito{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid gray;
    background-color: white;
    border-radius: 18px;
    box-shadow: 3px 3px 2px 1px lightgray;
    width: 320px;
    padding: 2%;
    color: var(--color-primario);
    font-size: 1.2rem;
    gap: 10px;
}
.tarjetasCarrito:hover{
    transform: scale(1.02);
    transition: 0.475s ease;
    box-shadow: 4px 4px 3px 2px lightgray;
}

.tarjetasCarritoo .contenedorImagenCards{
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
}


.tarjetasCarrito img{
    width: 110px;
}
.tarjetasCarrito h2{
    font-size: 1.2rem;
}
.tarjetasCarrito h3{
    font-size: 0.9rem;
}
.tarjetasCarrito .spanPrecio{
    font-weight: 550;
}

.tarjetasCarrito .tarjetasVerDetalle{
    text-decoration: none;
    color: var(--color-primario);
}


/* --------formulario-------- */
.contendedorFormulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    width: 50%;
    border: 1px solid rgb(148, 147, 147);
    border-radius: 14px;
    margin: auto;
    margin-top: 2%;
    padding: 1% ;
    box-shadow: 1px 1px 2px 2px lightgrey;
    background-color: var(--color-background);  
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    max-width: 600px;
    width: 95%;
    margin: auto;
    margin-top: 2%;
    padding-left: 5% ;
    font-size: 1.05rem;
}
.formulario input{
    border-radius: 4px;
    border: 1px solid gray;
    width: 90%;
    min-width: 200px;
}
.formulario label{
    width: 100%;
    font-weight: bold;
}
.formulario input:hover{
    cursor: pointer;
}

.formulario h2{
    color: var(--color-primario);

}

.checkboxDerecha{
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
}

.checkboxDerecha label{
    width: 95%;
}

.checkboxDerecha input{
    width: 20%;
    min-width: 80px;
    height: 30px;
    position: relative;
    left: 25px;
}

#message{
    width: 90%;
    min-width: 200px;
    height: 120px;
    border-radius: 4px;
    border: 1px solid gray;
}
#message:hover{
    cursor: pointer;
}

#formSubmit{
    font-size: 1.1rem;
    width: 130px;
    min-width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 1px 1px 1px 1px lightgrey;
    margin: auto;

}
#formSubmit:hover{
    transform: scale(1.03);
    transition: 0.275s ease;
    box-shadow: 2px 2px 1px 2px lightgrey;
    background-color: var(--color-primario);
    color: white;
}



/* ------------------Home----------------- */


.componentesDelHome{
    display: flex;
    justify-content: space-between;
    padding: 0.5% 1.5%;
}

.productosDelHome{
    display: flex;
    flex-direction: row;
    gap: 20px;
/*     width:75%;
 */}
.separadorHome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    color:  var(--color-primario);
}
.separadorHome h1{
    font-size: 2.4rem;
}

.separadorHome h3:hover{
    cursor: pointer;
}


.sidebar{
    width: 24.5%;
    height: 700px;
    margin-top: 10%;
}




/*-------------- filters ------------- */
#toggleFiltradores{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.BiSolidDownArrow{
    color: lawngreen;
    background-color: aqua;
    font-size: 89px;
}

.contenedorFiltros{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.filters{
    height: auto;
    border: 1px solid rgb(130, 130, 130);
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: 550;
    color: var(--color-primario);
    background-color: var(--color-background);
    padding: 1.5%;
    box-shadow: 1px 1px 2px 2px lightgray;
}
.filters .barrita{
    background-color: var(--color-primario);
    width: 95%;
}


.filters input:hover{
    cursor: pointer;
}

/* ---------------------------------- */

.padreTarjetas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 75%;

}


.tarjetasProducto{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid gray;
    background-color: white;
    border-radius: 18px;
    box-shadow: 3px 3px 2px 1px lightgray;
    height: 320px;
    width: 300px;
    padding: 2%;
    color: var(--color-primario);
    font-size: 1.2rem;
    gap: 10px;
}

.tarjetasProducto:hover{
    transform: scale(1.02);
    transition: 0.475s ease;
    box-shadow: 4px 4px 3px 2px lightgray;
}

.tarjetasProducto .contenedorImagenCards{
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
}

.tarjetasProducto img{
    width: 180px;
}
.tarjetasProducto h2{
    font-size: 1.2rem;
}
.tarjetasProducto h3{
    font-size: 0.9rem;
}

.tarjetasProducto .tarjetasVerDetalle{
    text-decoration: none;
    color: var(--color-primario);
}
/* -----------detaill Productos--------- */

.contenedorProductDetail{
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedorDeContenedores{
    display: flex;
    border: 1px solid gold;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    width: 80%;
    height: 400px;
}
.contenedorDivs{
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 5%;
    margin: auto;
    box-shadow: 3px 3px 2px 1px lightgray;
    padding: 1.5%;

}
.divNombreProductos{
    display: flex;
    padding: 0 2%;
}
.contenedorDivs:hover{
    transform: scale(1.02);
    transition: 0.475s ease;
    box-shadow: 4px 4px 3px 2px lightgray;
}
.detailProductsCompleto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 34px;
    align-items: center;
    background-color: white;
}


.detailProdImagen{
    border-radius: 3%;
    padding: 2% 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.detailProdH2{
    font-size: 1.6rem;
    color: var(--color-primario);
}

.contenedorFoto{
    height: 14rem;
    width: 14rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 1px 1px lightgrey;
    padding: 5px;
}

.detailProdH3{
    font-size: 1.8rem;
    color:rgb(56, 74, 110);
}

.detailProdResto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    height: 16rem;
    width: 16rem;
    padding: 2% 0%;
}

.detailProdResto p{
    font-size: 1.3rem;
    width: inherit;
    color: var(--color-primario);
    font-weight: 550;
}
.detailProdResto span{
    font-size: 1.3rem;
    width: inherit;
    color: var(--color-primario);
    font-weight: 550;}

.botonesCarrito{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.btnCompra{
    width: 4rem;
    height: 1.9rem;
    font-size: 2rem;
    text-align: center;
    border-radius: 0.9rem;
    border: transparent ;
    box-shadow: 1px 1px 1px 1px lightgray;
    color: var(--color-primario);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnCompra:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.475s ease;
    box-shadow: 2px 2px 1px 2px lightgray;
    background-color: var(--color-primario);
    color: white;


}



.btnCompraPrevio{
    width: 12rem;
    height: 2.2rem;
    border-radius: 0.9rem;
    font-size: 1.3rem;
    border-radius: 0.9rem;
    border: transparent ;
    box-shadow: 1px 1px 1px 1px lightgray;
    color: var(--color-primario);
    font-weight: 500;
    font-weight: bold;
}

.btnCompraPrevio:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.475s ease;
    box-shadow: 2px 2px 1px 2px lightgray;
    background-color: var(--color-primario);
    color: white;

}


.divDescripcionProducto{
    background-color: paleturquoise;
    display: flex;
    width: 80%;
}
/* ------------footer---------- */

footer{
    height: 100%;
    min-height: 100px;
    color: var(--color-primario);
    background-color: var(--color-background);
    padding: 5px 10px;
    font-size: 0.8rem;
}


footer .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tituloInfos{
    font-size: 1.2rem;
    font-weight: bold;
}

footer .linksFooter{
    display: flex;
    flex-direction: column;
    
}
footer .linksFooter ul{
list-style-type: none;
}
footer .linksFooter ul a{
    text-decoration: none;
    
    
}
.linksFooter a{
    color: var(--color-primario);
}

footer .redesSociales{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
footer .redesSociales a{
    text-decoration: none;
    color: var(--color-primario);
}

.FinalDelFooter{
    font-weight: bold;
}



/* -----------clase especial --------- */
.claseHide{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.475s ease; /* visibility 0s 0.375s; */
}
.claseShow{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.475s ease; /* visibility 0s; */
}



/* ----------Medias Querys------------ */

@media (max-width: 1024px) {
    *{
      font-size: 14px; /* Cambio de tama침o de fuente para pantallas m치s grandes */
    }
    .contenedorDeContenedores{
        height: 100%;
        margin-bottom: 1.5rem;
    }
    .detailProductsCompleto{
        flex-direction: column;
        gap: 5px
    }
    .detailProdResto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .filters{
        width: 100%;
    }
   /*  .barrita{
        width: 100px;
        width: 100%;
    } */
}

@media (max-width: 800) {


}




@media (max-width: 360px) {
    *{
      font-size: 11px; /* Cambio de tama침o de fuente para pantallas m치s grandes */
    }
    #NombreMarca{
        display: none;
    }
    .contenedorImagenCards img{
        width: 110px;
        height: 110px;
    }
    .tarjetasProducto{
        height: 260px;
    }
    .tarjetasProducto .contenedorImagenCards{
        justify-content: center;
        align-items: center;
        width: 110px;
        height: 110px;
    }
   /*  .barrita{
        width: 60px;
    } */
}
   /*  html{
        font-size: 14px;
    }
} */